<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css">
</head>
    
<body>
<nav>
     <a href="{{ site.baseurl }}/">Home</a> |
     <a href="{{ site.baseurl }}/research/">Research</a> |
     <a href="{{ site.baseurl }}/tools/">Tools</a> |
    <a href="{{ site.baseurl }}/publications/">Publications</a> |
    <a href="{{ site.baseurl }}/team/">Team</a> |
    <a href="{{ site.baseurl }}/contact/">Contact</a>
</nav>
    

<div class="content">
    {{ content }}
</div>

<footer>
    <p>© 2025 SuperSIM | Contact: <a href="mailto:olivia.chen@ieee.org">olivia.chen@ieee.org</a></p>
</footer>

</body>
</html>

